/* Style the menus using
    flex,
    padding,
    background-color,
    list-style,
    text-decoration,
    justify-content,
    align-items
 */
 body {
    margin: 0;
    padding: 0;
    background-color: beige;
 }
 header {
    margin: 60px;
    padding-top: 24px;
    background-color: lightgray;
    border-radius: 32px ;
    color: black;
    font-size: 26px;
 }
 .site-header {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items:flex-start;
 }
 ul {
    padding: 0;
    margin: 30px;
    list-style: none;
    display: flex;
 }
 li {
    padding: 16px;
 }
 a {
    text-decoration: none;
    font-size: 18px;
 }

